* {
    color: #1a013a;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F4F2FF;
}

h1 {
    text-align: center;
}

h3 {
    color: black
}

h4 {
    text-decoration: underline;
    font-style: italic;
    color: #331702;
}

.centered-image {
    text-align: center;
}

.centered-image img {
    display: inline-block;
}